.headerTable{
	text-align: center;
	background-color: grey;
	padding: 1em;
	border: 1px solid #000000;
}

.imgLogin{
	width: 15%;
}

.lblFloat{
	float: left;
}

.pnlLogin{
	text-align: center;
}

.rowTable{
	padding: 2em;
	text-align: center;
}

.rowTableLine{
	padding: 2em;
	background-color: #c0c0c0;
}